.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  transition: all .5s ease-in-out;
  z-index: 3;
}

.nav__black {
  background-color: #000;
}

.nav__logo {
  width: 100px;
}

.nav__avatar {
  width: 32px;
}

.nav a {
  display: inline-block;
}

.nav img {
  width: 100%;
  max-width: 100%;
}