.row {
  margin-bottom: 50px;
}

.row__title {
  color: #fff;
  font-size: 26px;
  padding-left: 10px;
}

.swiper-wrapper {
  padding: 40px 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  right: 0;
  top: 22px;
  height: 100%;
  transition: all .5s;
  padding: 0 30px;
}
.swiper-button-prev {
  right: auto;
  left: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 10px;
  right: 0;
  bottom: auto;
  left: auto;
  width: auto;
  height: 4px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 0.5px;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 100%;
  border-radius: 0;
  background-color: #ddd;
}

.swiper-pagination-bullet-active {
  background-color: #777;
}

.swiper-button-next:hover {
  background: #000;
  background: linear-gradient(90deg, transparent 0%, #000 100%)
}

.swiper-button-prev:hover {
  background: #000;
  background: linear-gradient(270deg, transparent 0%, #000 100%)
}