.modal__header {
    position: relative;
    z-index: 0;
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.modal__body {
    padding: 40px 20px 20px;
    position: relative;
    top: -30px;
    z-index: 2;
    background: #111;
    background: linear-gradient(0deg, #111 0%, #111 90%, transparent 100%);
    color: #fff;
}

.modal__detail {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal__detail span {
    color: green;
    margin-right: 10px;
}

.modal__title {
    font-size: 36px;
    margin-bottom: 10px;
}

.modal__average {
    padding-left: 2px;
}

.modal__overview {
    line-height: 1.5;
}